/* SIDEBAR STYLING */

.active {
    background:#fef0c3; 
    border-radius: 50%;
    color: black;
}

.active:hover {
    background: #fef0c3;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 64px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    color: #5f6368;
    width: 80px;
    overflow-x: hidden;
    height: 100%;
    transition: 0.8s;
}

.sidebar-hover {
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%), inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
    background: white;
}



.sidebar .sidebar-item {
    padding: 3px 0;
    cursor: pointer;
    margin-top: 5px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.sidebar-item:hover {
    background: #f1f3f4;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.sidebar-item .material-symbols-outlined {
    margin-left: 18px;
}

.sidebar-item .sidebar-text {
    color: black;
    font-size: 0.9rem;
    vertical-align: middle;
    margin-left: 20px;
    width: 250px;
}

.sidebar-item :nth-child(1) {
    margin-top: 5px;
}


.sidebar-active-item {
    background-color: #fef0c3;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.sidebar-active-item:hover {
    background-color: #fef0c3;
 
}
